/* axis line test */
.dg-axis path {
    fill: none;
    stroke:#000;
    stroke-width: 1.5px;
    shape-rendering: crispEdges;
}

/* axis tick marks */
.dg-axis line {
    fill: none;
    stroke: #000;
    stroke-width: 1.1px;
    shape-rendering: crispEdges;
}

/* controls the axis text */
.dg-axis text {
    fill: #333;
    stroke: none;
    shape-rendering: crispEdges;
    font-size: 16px;
}

.dg-curve0 {
    fill: #0000FF;
    stroke: #0000FF;
}

.dg-curve1 {
    fill: #000000;
    stroke: #000000;
}

.dg-curve2 {
    fill: #FF0000;
    stroke: #FF0000;
}

.dg-curve3 {
    fill: #00FF00;
    stroke: #00FF00;
}

.dg-curve4 {
    fill: #00FFFF;
    stroke: #00FFFF;
}

/* controls the area */
.dg-fill {
    fill-opacity: 0.2;
}

/* controls the top line in area */
.dg-line {
    fill: none;
    stroke-width: 6.0px;
}

.dg-line.points {
    fill: #058dc7;
    stroke: #fff;
    stroke-width: 3.0px;
}

/* histogram styles */
.histo.rect { fill: #058dc7; }

.bar.rect {
    fill: #058dc7;
    stroke: none;
}

.bar.text {
    fill: #000;
    stroke: none;
    font-size: 12px;
}
