/* axis line test */
.axis path { 
    fill: none; 
    stroke:#000; 
    stroke-width: 1.5px; 
    shape-rendering: crispEdges;
}

/* axis tick marks */
.axis line {
    fill: none;
    stroke: #000;
    stroke-width: 1.1px;
    shape-rendering: crispEdges;
}

/* controls the axis text */
.axis text {
    fill: #333;
    stroke: none;
    shape-rendering: crispEdges;
    font-size: 16px;
}

/* controls the area */
.area.fill {
    fill-opacity: 0.2;
}

.area.fill1 {
    fill: #0000FF;
}

.area.fill2 {
    fill: #000000;
}

.area.fill3 {
    fill: #FF0000;
}

.area.fill4 {
    fill: #00FF00;
}

.area.fill5 {
    fill: #00FFFF;
}

/* controls the top line in area */
.area.line {
    fill: none;
    stroke-width: 6.0px;
}
.area.line1 {
    stroke: #0000FF;
}

.area.line2 {
    stroke: #000000;
}

.area.line3 {
    stroke: #FF0000;
}

.area.line4 {
    stroke: #00FF00;
}

.area.line5 {
    stroke: #00FFFF;
}

.area.line.points {
    fill: #058dc7;
    stroke: #fff;
    stroke-width: 3.0px;
}

/* histogram styles */
.histo.rect { fill: #058dc7; }

.bar.rect {
    fill: #058dc7;
    stroke: none;
}

.bar.text {
    fill: #000;
    stroke: none;
    font-size: 12px;
}
